/* RESET */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
  column-gap: 24px;
  row-gap: 14px;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
  display: flex;
  flex-direction: row;
}

button {
  padding: 0.25em;
  background-color: #203138;
  color: #a3e2d8;
  font-size: 1.25rem;
  border: none;
  border-radius: 6px;
}

#add-project {
  margin-top: 50px;
}

.sidebar {
  background-color: #6aa7a3;
  height: 100vw;
  width: 200px;
  padding: 16px 24px;
  color: #203138;
  font-size: 1.25rem;
}

.sidebar__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-content {
  padding: 32px;
  background-color: #a3e2d8;
  width: 100%;
}

.list-container {
  width: 100%;
}

input {
  border: none;
  font-size: 1.125rem;
  outline: none;
  color: #585858;
  padding: 0.25rem 0.5rem;
  background-color: #caf5ee;
  border-radius: 4px;
}

#title {
  font-size: 1.25rem;
  color: #444444;
  font-weight: 600;
}

.input-container {
  display: flex;
  flex-direction: column;
  background-color: #6aa7a3;
  color: #203138;
  width: 28rem;
  border: 1px solid #203138;
  padding: 0.5rem;
  border-radius: 6px;
  gap: 0.25rem;
  margin: 0 auto 24px;
}

.check-priority {
  display: flex;
  width: 40%;
  margin: 1rem auto;
  font-size: 1.15rem;
  justify-content: space-around;
}

#priority {
  width: 1.5rem;
}

.hidden {
  display: none;
}

.list-item {
  width: 22rem;
  height: fit-content;
  background-color: #6aa7a3;
  border-radius: 6px;
  position: relative;
  margin: 0.5rem auto;
}

.list-el-heading {
  background-color: #203138;
  padding: 0.5rem;
  border-radius: 6px 6px 3px 3px;
}

.list-el-title {
  font-weight: 700;
  font-size: 1.25rem;
  margin-bottom: 0.25rem;
  color: #a3e2d8;
}

.details-container {
  margin-top: 0.5rem;
  padding: 0.5rem;
}

.date {
  color: #6aa7a3;
}

.description {
  margin: 0 0 1rem 0;
  font-size: 0.85rem;
  color: #203138;
  min-height: 3rem;
}

.priority-btn {
  display: block;
  width: 80%;
  margin: 0.5rem auto;
}

.delete-button {
  border: 1px solid #203138;
  background-color: #a3e2d8;
  border-radius: 100%;
  width: 24px;
  font-size: 1.25rem;
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 0;
  color: #203138;
}
